<div class='dpcontainer'>
  <div class='dpheader'>
    <div class='dpprevious' (click)='previousMonth()'><i class='fa fa-caret-left'></i></div>
    <div class='dpviewtype'>{{ daysOfMonth.monthNames[daysOfMonth.month] }} {{ daysOfMonth.year }}</div>
    <div class='dpnext' (click)='nextMonth()'><i class='fa fa-caret-right'></i></div>
  </div>
  <div class='dptable'>
    <div class='dptablerow'>
      <div class='dptablehead' *ngFor='let name of daysOfMonth.dayNames'>{{ name}}</div>
    </div>
    <div class='dptablerow' *ngFor='let week of daysOfMonth.weeks'>
      <div class='dptablecell' [ngClass]='{"dpselected": day.selected }' *ngFor='let day of week'
        (click)='selectDate(day)'>
        {{ day.day > 0 ? day.day : '' }}
      </div>
    </div>
  </div>
</div>