.dpcontainer {
  display: inline-block;
  min-width: 250px;
  min-height: 150px;
  background-color: white;
  text-align: left;
  padding: 2px;
}

.dpheader {
  display: table;
  width: 100%;
  height: 35px;
  box-sizing: border-box;
}

.dpprevious {
  display: table-cell;
  cursor: default;
  vertical-align: middle;
  text-align: left;
  width: 50px;
  padding-left: 10px;
}

.dpnext {
  display: table-cell;
  cursor: default;
  vertical-align: middle;
  text-align: right;
  width: 50px;
  padding-right: 10px;
}

.dpviewtype {
  display: table-cell;
  cursor: default;
  vertical-align: middle;
  text-align: center;
}

.dpprevious:hover,
.dpnext:hover {
  color: rgba(48, 79, 254, 1);
}

.dptable {
  display: table;
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
}

.dptablerow {
  display: table-row;
  width: 100%;
}

.dptablehead {
  display: table-cell;
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: .85em;
  vertical-align: middle;
}

.dptablecell,
.month, 
.year {
  display: table-cell;
  text-align: center;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  cursor: default;
}

.month {
  height: 55px;
}
.year {
  height: 30px;
}
.dptablecell {
  height: 34px;
  width: 30px;
}

.dptablecell:hover,
.month:hover,
.year:hover {
  background: rgba(48, 79, 254, 0.25);
  color: rgba(0, 0, 0, 0.6);
}

.dpselected,
.dpselected:hover {
  background: rgba(48, 79, 254, 1);
  color: white;
}
