<div class='container'>
  <app-dropdown width='200' height='25'></app-dropdown>
</div>
<div class='container'>
  <app-dropdown width='150' height='20' [dropdownItemsTemplate]='dropdownItems'>
    <ng-template #dropdownItems let-selectedItemChange='selectedItemChange'>
      <div>Item 1</div>
      <div (click)='selectedItemChange.emit("Item 1")'>Click Me</div>
      <div>Item 1</div>
      <div>Item 1</div>
      <div>Item 1</div>
      <div>Item 1</div>
      <div>Item 1</div>
      <div>Item 1</div>
      <div>Item 1</div>
      <div>Item 1</div>
      <div>Item 1</div>
      <div>Item 1</div>
    </ng-template>
  </app-dropdown>
  <app-fruit-list></app-fruit-list>
</div>
<div class='container'>
  <app-datepicker></app-datepicker>
</div>