.ddtext {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
}
.item {
    cursor: pointer;
    padding: 4px;
}
.item:hover {
    background: rgba(0, 0, 0, 0.1);
}