<app-dropdown width='150px' height='35px' dropWidth='400px' dropHeight='150px' [dropdownItemsTemplate]='dropdownItemsTemplate' [selectedItemTemplate]='selectedItemTemplate'
  [noBorder]=false>
  <ng-template #selectedItemTemplate>
    <div style='color: red'>{{selectedFruit}}</div>
  </ng-template>
  <ng-template #dropdownItemsTemplate let-selectedItemChange='selectedItemChange'>
    <div class='ddtext item' *ngFor='let fruit of fruits' (click)='selectThisFruit(fruit, selectedItemChange)'>{{fruit}}</div>
  </ng-template>
</app-dropdown>